$regular: 'figgins_sansregular', 'Arial', sans-serif;

@font-face {
    font-family: 'figgins_sansregular';
    src: url('../font/figgins.eot');
    src: url('../font/figgins.eot?#iefix') format('embedded-opentype'),
         url('../font/figgins.woff2') format('woff2'),
         url('../font/figgins.woff') format('woff'),
         url('../font/figgins.ttf') format('truetype'),
         url('../font/figgins.svg#figgins_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes slideDown {
  0%   { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

@keyframes slideUp {
  0%   { transform: translateY(50px); }
  100% { transform: translateY(0); }
}

html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	background-repeat: repeat;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	position: relative;
	color: #000;
	background-color: #f9f9f9;
	font-family: $regular;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;

	@media screen and (max-width: 1023px) {
		height: auto;
	}
}

body {
	background-repeat: no-repeat;
	background-position: 90% 108px;

	* {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: 400;
	    padding: 0;
	    margin: 0;
	}

	h1 {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		@media screen and (max-width: 576px) {
			font-size: 22px;
			line-height: 30px;
		}
	}

	h2 {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		@media screen and (max-width: 576px) {
			font-size: 22px;
			line-height: 30px;
		}
	}

	a {
		transition: all ease .3s;
	}

	p {
	    margin: 0;
	}
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
	background: rgba(0, 0, 0, 0.1);
}

input,
input:focus,
input:active,
input:hover {
	outline: none;
	transition: border-color ease .3s;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	width: 100%;
	min-height: 40px;
	font-size: 16px;
	line-height: 40px;
	padding-left: 15px;
	border: 1px solid #cbcbcb;

	@media screen and (max-width: 1280px) {
		line-height: 32px;
		min-height: 32px;
	}
}

input:focus {
	border: 1px solid #FFED00;
}

.input__phone__wrap,
.input__name__wrap,
.input__email__wrap,
.input__city__wrap {

	&::before {
		display: flex;
		align-items: center;
		position: absolute;
		width: calc(100% - 15px);
		height: calc(100% - 2px);
		top: 1px;
		left: 1px;
		opacity: 1;
		visibility: hidden;
		padding-left: 13px;
		color: #FF70AC;
		background-color: #fff;
		transition: opacity ease .3s, visibility ease .3s;
		// will-change: opacity, visibility;
		z-index: 2;
	}
}

.input__error {
	position: relative;

	&.input__phone__wrap,
	&.input__name__wrap,
	&.input__email__wrap,
	&.input__city__wrap {

		input {
			border: 1px solid #FF70AC!important;
		}

		&::before {
			opacity: 1;
			visibility: visible;
		}
	}

	&.input__phone__wrap {

		&::before {
			content: "Вы не заполнили поле с телефоном";
			
		}
	}

	&.input__name__wrap {

		&::before {
			content: "Вы не заполнили имя";
		}

	}

	&.input__email__wrap {

		&::before {
			content: "Вы не заполнили email";
		}

	}

	&.input__city__wrap {

		&::before {
			content: "Вы не заполнили город";
		}

	}
}

.input__phone {

}

.container {
	padding: 0 60px;
	margin: 0 auto;
	position: relative;

	@media screen and (max-width: 1023px) {
		padding: 0 25px;
	}

	@media screen and (max-width: 768px) {
		padding: 0 20px;
	}
}

.slick-slide,
.slick-slider {
	outline: none;
}

.slick-arrow {
	width: 35px;
	height: 40px;
	font-size: 0;
	background: transparent;
	z-index: 3;
	transition: opacity ease .3s;
	position: absolute;
	// will-change: opacity;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 16px;
		border-right: 2px solid #BBBBBB;
		border-bottom: 2px solid #BBBBBB;
		transform: translate(-50%, -50%);
	}

	&.slick-disabled {
		opacity: .5;
	}
}

.slick-prev {

	&::before {
		transform: translate(-50%, -50%) rotate(135deg);
	}
}

.slick-next {

	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.slick-prev.slick-disabled:before, .slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
	opacity: 1;
}

.slick-vertical {

	.slick-arrow {
		left: 50%;
	}

	.slick-prev  {
		top: -44px;
		bottom: auto;
		transform: translateX(-50%) rotate(-135deg);

		@media screen and (max-width: 1366px) {
			top: -7px;
		}
	}

	.slick-next {
		top: auto;
		bottom: -44px;
		transform: translateX(-50%) rotate(45deg);

		@media screen and (max-width: 1366px) {
			bottom: -7px;
		}
	} 
}

.block__title {
	display: none;
}

.sprite {
	display: none;
}

.header {
	padding-top: 46px;
	margin-bottom: 41px;
	position: relative;
	z-index: 2;

	@media screen and (max-width: 1600px) {
		padding-top: 30px;
		margin-bottom: 15px;
	}

	@media screen and (max-width: 1366px) {
		padding-top: 20px;
	}

	@media screen and (max-width: 1280px) {
		padding-top: 12px;
	}

	@media screen and (max-width: 1023px) {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 73px;
		height: 52px;
		background-image: url(../img/logo.svg);
		background-size: 73px 52px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.btn.btn__partners {
		margin-right: 0;
		transform: translateX(0);
		transition: all ease .45s;

		&.hidden {
			transform: translateX(450px);
		}

		@media screen and (max-width: 576px) {
			max-width: 150px;
			padding-right: 0;
		}
	}
}

.btn {
	display: block;
	width: 100%;
	max-width: 264px;
	min-height: 50px;
	padding-right: 44px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	transition: all ease .35s;
	cursor: pointer;

	&.pink {
		color: #fff;
		background-image: url(../img/btn-pink.svg);
		background-repeat: no-repeat;
		background-position: left;
		background-size: 264px 50px;

		&:hover {
			max-width: 220px;
			padding-right: 0;

			@media screen and (max-width: 576px) {
				max-width: 150px;
			}
		}

		&:active,
		&:focus,
		&.clicked {
			background-image: none;
			color: #000;
			background-color: #FFED00;
			max-width: 220px;
			padding-right: 0;

			@media screen and (max-width: 576px) {
				max-width: 150px;
			}
		}
	}

	&.yellow {
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		color: #000;
		background-color: #FFED00;
		padding-right: 0;

		&:hover {
			background-color: #E0E0E0;
		}
	}

	&:disabled {
		opacity: .3;
		pointer-events: none;
	}
}

.screen__blocks__wrap {
	position: relative;
	width: 100%;
	min-height: 720px;

	.screen__block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(-100%);
		visibility: hidden;
		opacity: 0;
		transition: opacity ease .6s, transform ease .6s, visibility ease .6s;
		// will-change: opacity, visibility, transform;

		@media screen and (max-width: 1023px) {
			top: auto;
			left: auto;
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			position: relative;
			margin-bottom: 70px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		> .container {
			position: relative;
			z-index: 2;
		}

		&.active {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.screen__bg {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
}

.main__block {
	position: relative;

	.container {

	}

	.screen__bg {
		top: -40px;
    	right: 170px;
		width: 548px;
		height: 653px;

		@media screen and (max-width: 1700px) {
			top: -50px;
			right: 100px;
		}

		@media screen and (max-width: 1024px) {
			top: -55px;
    		right: 25px;
		}

		@media screen and (max-width: 1023px) {
			width: 500px;
			height: 600px;
			background-size: contain;
		}

		@media screen and (max-width: 768px) {
			right: -250px;
		}

		@media screen and (max-width: 576px) {
			right: -350px;
		}
	}
}

.main__block__title {
	margin-bottom: 25px;

	@media screen and (max-width: 1600px) {
		width: 100%;
		max-width: 620px;
	}

	@media screen and (max-width: 1366px) {
		margin-bottom: 15px;
	}

	@media screen and (max-width: 1023px) {
		margin-bottom: 20px;
		padding-right: 40px;
	}
}

.main__block__title__under {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 53px;

	@media screen and (max-width: 1600px) {
		max-width: 530px;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 1366px) {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1023px) {
		max-width: 480px;
		margin-bottom: 35px;
	}

	@media screen and (max-width: 576px) {
		padding-right: 50px;
	}
}

.main__block__items__wrap {
	padding-left: 84px;

	@media screen and (max-width: 1024px) {
		padding-left: 60px;
	}

	@media screen and (max-width: 768px) {
		padding-left: 30px;
	}

	@media screen and (max-width: 576px) {
		padding-left: 0;
	}
}

.main__block__item {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 717px;
	margin-bottom: 42px;
	position: relative;
	cursor: pointer;

	@media screen and (max-width: 1366px) {
		margin-bottom: 25px;
	}

	@media screen and (max-width: 1023px) {
		margin-bottom: 30px;
	}

	&:last-of-type {

		&.fade-top,
		&.fade-bottom {

			.main__block__item__heading {
				transform: translate(195px, 60px);
			}
		}
	}

	&.fade-top {

		&::before,
		.main__block__item__image,
		.main__block__item__text,
		.main__block__item__nav {
			animation: slideDown .6s ease;
		}

		.main__block__item__heading {
			transform: translate(195px, 72px);
		}
	}

	&.fade-bottom {

		&::before,
		.main__block__item__image,
		.main__block__item__text,
		.main__block__item__nav {
			animation: slideUp .6s ease;
		}

		.main__block__item__heading {
			transform: translate(195px, 72px);
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 158px;
		opacity: 0;
		visibility: hidden;
		background-color: #fff;
	}

	&.active {
		min-height: 158px;
		cursor: auto;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 158px;
			opacity: 1;
			background-color: #fff;
			box-shadow: -20px 30px 30px rgba(0, 0, 0, 0.15);
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.main__block__item__heading {
			position: absolute;
			transform: translate(195px, 72px);
		}

		.main__block__item__title {
			min-width: auto;
		}

		.main__block__item__image {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.main__block__item__text {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.main__block__item__nav {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&:nth-child(1) {

		.main__block__item__text {
			padding-right: 86px;
		}
	}

	&:nth-child(2) {

		.main__block__item__text {
			padding-right: 100px;
		}
	}

	&:nth-child(3) {

		.main__block__item__text {
			padding-right: 60px;
		}
	}

	&:nth-child(4) {

		.main__block__item__text {
			padding-right: 50px;
		}
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	&__image {
		width: 168px;
		height: 158px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 168px 158px;
		margin-right: 27px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-50px);
		transition: transform ease .6s;
		// will-change: transform;
	}

	&__heading {
		display: flex;
		align-items: center;
		position: relative;
		top: 0;
		transform: translate(0,0);
		width: 235px;
		transition: transform ease .8s;
		// will-change: transform;
	}

	&__number {
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #838383;
		margin-right: 25px;
	}

	&__title {
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #838383;
		min-width: 220px;
		transition: min-width ease .6s;
		// will-change: min-width;
	}

	&__text {
		font-size: 16px;
		line-height: 19px;
		color: #000;
		max-width: 290px;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 50px;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 427px;
		transform: translateY(-50px);
		transition: transform ease .6s;
		// will-change: transform;

		@media screen and (max-width: 768px) {
			transition: transform ease .6s, opacity ease .6s, visibility ease .6s;
		}

		@media screen and (max-width: 1023px) {
			left: 400px;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 100%;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-50px);
		transition: transform ease .6s;
		// will-change: transform;

		&__prev,
		&__next {
			width: 40px;
			min-height: 79px;
			flex-grow: 1;
			cursor: pointer;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 35px;
				transform: translate(-50%, -50%);
				background-image: url(../img/arrow.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 10px 35px;
			}
		}

		&__prev {
			background-color: #FFED00;
		}

		&__next {
			background-color: #FFED00;

			&::before {
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}
	}

	@media screen and (max-width: 768px) {
		align-items: flex-start;
		flex-direction: column;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {

			.main__block__item__text {
				padding-right: 0;
			}
		}

		&::before {
			height: 100%;
		}

		&.active {
			min-height: 340px;

			&::before {
				height: 100%;
			}

			.main__block__item__heading {
				position: relative;
				top: 15px;
				left: -5px;
				transform: translateX(20px) translateY(180px);
			}

			.main__block__item__text {
				padding-left: 15px;
				padding-right: 45px;
				transform: translateY(0);
			}

			&:last-of-type {

				.main__block__item__heading {
					transform: translateX(20px) translateY(180px);
				}
			}
		}

		&__image,
		&__text,
		&__heading {
			position: relative;
			top: auto;
			left: auto;
			transform: none;
		}

		&__image,
		&__text {
			position: absolute;
		}

		&__image {
			top: 15px;
			left: 15px;
			margin-right: 0;
			margin-bottom: 25px;
		}

		.main__block__item__text {
			top: 225px;
			padding-left: 20px;
			padding-right: 45px;
			transform: translateY(0);
			max-width: 100%;
		}
	}

	@media screen and (max-width: 480px) {
		&.active {
			min-height: 400px;
		}
	}
}

.side__nav {
	position: relative;
	z-index: 3;

	@media screen and (max-width: 1023px) {
		display: none;
	}

	&__prev,
	&__next {
		position: fixed;
		top: 0;
		width: 60px;
		height: 100%;
		font-size: 24px;
		line-height: 1em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		background-color: transparent;
		cursor: pointer;
		transform: translateX(0);
		transition: transform ease .6s, color ease .6s;
		// will-change: transform, color;

		&:hover {

			.side__nav__text {
				color: #000;

				&::after {
					border-color: #000;
				}
			}
		}
	}

	&__text {
		color: #BBBBBB;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		white-space: nowrap;
		transition: all ease .3s;

		&::after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			border-right: 2px solid #BBBBBB;
			border-bottom: 2px solid #BBBBBB;
			transition: border-color ease .3s;
			// will-change: border-color;
		}
	}

	&__prev {
		left: 0;

		&.hidden {
			transform: translateX(-200px);
		}

		.side__nav__text {
			top: 60%;

			&::after {
				top: 5px;
				right: -35px;
				transform: rotate(-135deg);
			}
		}
	}

	&__next {
		right: 0;

		&.hidden {
			transform: translateX(200px);
		}

		.side__nav__text {
			top: 40%;

			&::after {
				left: -35px;
				transform: rotate(45deg);
			}
		}
	}
}

.main__menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	@media screen and (max-width: 1023px) {
		padding-top: 10px;
		padding-bottom: 10px;
		top: 0;
		bottom: auto;
		background-color: #fff;
		transform: translateX(-1300px);
		transition: transform ease-in-out .4s;
		z-index: 3;
		box-shadow: 0 9px 7.92px 0.08px rgba(0, 0, 0, 0.2);

		&.active {
			transform: translateX(0);
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	.main__menu__item {
		display: flex;
		align-items: flex-start;
		flex-shrink: 0;
		font-size: 15px;
		color: #7E7E7E;
		position: relative;
		cursor: pointer;
		transition: color ease .5s, transform ease .5s;
		// will-change: color, transform;

		@media screen and (max-width: 1024px) {
			font-size: 14px;
		}

		@media screen and (max-width: 1023px) {
			padding: 0;
			margin-bottom: 5px;

			&:hover,
			&.active {
				transform: none;
			}
		}

		&:last-of-type {
			padding-right: 0;
		}

		&:hover,
		&.active {
			transform: translateY(-20px);

			.main__menu__item__current {
				color: #FF70AC;

				@media screen and (max-width: 1023px) {
					color: #7e7e7e;
				}
			}

			.main__menu__item__prev,
			.main__menu__item__next {
				background-image: url(../img/arrow-pink.svg);
			}

			@media screen and (max-width: 1023px) {
				transform: none;
			}
			
			.main__menu__item__prev,
			.main__menu__item__next {
				opacity: 1;
				visibility: visible;
			}

			.main__menu__item__prev {
				transform: translateX(-40px) rotate(180deg);
			}

			.main__menu__item__next {
				transform: translateX(40px);
			}

			@media screen and (max-width: 1600px) {
				.main__menu__item__prev {
					transform: translateX(-20px) rotate(180deg);
				}

				.main__menu__item__next {
					transform: translateX(20px);
				}
			}

			@media screen and (max-width: 1400px) {
				.main__menu__item__prev {
					transform: translateX(-10px) rotate(180deg);
				}

				.main__menu__item__next {
					transform: translateX(10px);
				}
			}

			@media screen and (max-width: 1400px) {
				.main__menu__item__prev {
					transform: translateX(-5px) rotate(180deg);
				}

				.main__menu__item__next {
					transform: translateX(5px);
				}
			}
		}

		&__current {
			flex-shrink: 0;
			padding-bottom: 30px;
			transition: color ease .3s;

			@media screen and (max-width: 1023px) {
				padding-bottom: 0;
			}
		}

		&__prev,
		&__next {
			width: 35px;
			height: 10px;
			background-image: url(../img/arrow-black.svg);
			background-repeat: no-repeat;
			padding-bottom: 30px;
			opacity: 0;
			visibility: hidden;
			position: relative;
			z-index: 2;
			transition: transform ease .3s, opacity ease .3s, visibility ease .3s, background-image ease .3s;

			@media screen and (max-width: 1400px) {
				width: 25px;
			}

			@media screen and (max-width: 1200px) {
				width: 20px;
			}

			@media screen and (max-width: 1023px) {
				display: none;
			}
		}

		&__prev {
			transform: translateX(35px) rotate(180deg);
			background-position: 0 13px;

			@media screen and (max-width: 1400px) {
				background-position: -10px 13px;
			}

			@media screen and (max-width: 1400px) {
				background-position: -15px 13px;
			}
		}

		&__next {
			transform: translateX(-35px);
			background-position: 0 5px;

			@media screen and (max-width: 1400px) {
				background-position: -10px 5px;
			}

			@media screen and (max-width: 1200px) {
				background-position: -15px 5px;
			}
		}

		&:first-of-type {

			.main__menu__item__current {
				margin-left: 0;
			}
		}

		&:last-of-type {

			.main__menu__item__current {
				margin-right: 0;
			}
		}
	}
}

.mob__menu__btn {
  display: none;
  position: fixed;
  top: 90px;
  right: 25px;
  width: 28px;
  height: 28px;
  background-color: rgba(250, 250, 250, 0);
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
  transform: rotate(0deg);
  transition: .5s ease-in-out, transform .45s ease-in-out;

  @media screen and (max-width: 1023px) {
  	display: block;
  }

  @media screen and (max-width: 768px) {
	 right: 20px;
  }

  @media screen and (max-width: 576px) {
	 top: 80px;
  }

  span {
  	  display: block;
	  position: absolute;
	  height: 4px;
	  width: 100%;
	  background: #FF70AC;
	  border-radius: 0;
	  opacity: 1;
	  left: 0;
	  transform: rotate(0deg);
	  transition: .25s ease-in-out;

	  &:nth-child(1) {
		top: 3px;
	  }

	  &:nth-child(2),
	  &:nth-child(3) {
		top: 12px;
	  }

	  &:nth-child(4) {
		top: 21px;
	  }
  }

  &.active {
  	transform: translateY(0);

  	&:not(.positioned) {

	  	@media screen and (max-width: 1023px) {
			transform: translateY(-80px);
	  	}

	  	@media screen and (max-width: 576px) {
			transform: translateY(-70px);
	  	}
  	}

  	span {

		&:nth-child(1) {
			top: 12px;
		 	width: 0%;
		 	left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:nth-child(4) {
			top: 12px;
  			width: 0%;
  			left: 50%;
		}
  	}
  }

    &.positioned {
  			
		@media screen and (max-width: 1023px) {
			transform: translateY(-80px);
	  	}

	  	@media screen and (max-width: 576px) {
			transform: translateY(-70px);
	  	}
  	}
}

.company__block  {

	&__title {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 34px;

		@media screen and (max-width: 1366px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 1024px) {
			margin-bottom: 15px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 576px) {
			font-size: 22px;
			line-height: 30px;
			padding-right: 40px;
		}

		&__under {
			font-size: 16px;
			line-height: 21px;
			max-width: 786px;
			margin-bottom: 60px;

			@media screen and (max-width: 1366px) {
				margin-bottom: 40px;
			}

			@media screen and (max-width: 1024px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 1023px) {
				margin-bottom: 35px;
			}
		}
	}

	&__present__block {
		width: 57%;
		display: flex;
		align-items: flex-start;
		flex-shrink: 0;
		margin-right: 14px;

		@media screen and (max-width: 1366px) {
			width: auto;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 40px;
		}

		@media screen and (max-width: 576px) {
			margin: 0 auto;
			margin-bottom: 35px;
			flex-direction: column;
		}

		&__image {
			width: 182px;
			height: 182px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			flex-shrink: 0;
			margin-right: 30px;

			@media screen and (max-width: 576px) {
				margin: 0 auto;
				margin-bottom: 25px;
			}
		}

		&__content {
			max-width: 280px;
		}

		&__title {
			font-size: 18px;
			line-height: 27px;
			text-transform: uppercase;
			margin-bottom: 34px;
		}

		.btn {
			margin-left: 0;

			@media screen and (max-width: 576px) {
				margin: 0;
			}
		}
	}

	&__info__block {
		max-width: 543px;


		@media screen and (max-width: 1023px) {
			max-width: 600px;
		}

		&__list {
			padding: 0;
			padding-left: 36px;
			margin: 0;
			margin-bottom: 63px;
			list-style: none;

			@media screen and (max-width: 1600px) {
				margin-bottom: 50px;
			}

			@media screen and (max-width: 1366px) {
				margin-bottom: 25px;
			}

			@media screen and (max-width: 1024px) {
				margin-bottom: 15px;
			}

			@media screen and (max-width: 576px) {
				padding-left: 0;
			}

			&__title {
				font-size: 18px;
				line-height: 23px;
				text-transform: uppercase;
				margin-bottom: 22px;
				padding-left: 36px;

				@media screen and (max-width: 1024px) {
					margin-bottom: 15px;
				}

				@media screen and (max-width: 576px) {
					padding-left: 0;
				}
			}

			&__item {
				font-size: 16px;
				line-height: 21px;
				padding-left: 24px;
				margin-bottom: 14px;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					top: 1px;
					left: 0;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background-color: #FF70AC;
				}
			}
		}
	}

	&__partners__block {
		font-size: 16px;
		line-height: 21px;
		padding: 26px 15px 17px 37px;
		border-top: 3px solid #FF70AC;
		border-bottom: 3px solid #FF70AC;

		@media screen and (max-width: 1024px) {
			padding: 12px 15px 12px 37px;
		}

		@media screen and (max-width: 576px) {
			padding: 12px 15px 12px 5px;
		}

		.custom__text {
			text-transform: uppercase;
			background-color: #FFED00;
			padding: 3px 4px;
		}
	}

	.screen__bg {
		width: 1289px;
		height: 681px;
		opacity: .65;
		left: 60px;
    	bottom: -185px;

    	@media screen and (max-width: 1600px) {
    		width: 900px;
			left: 0;
			bottom: -100px;
			background-size: contain;
    	}

		@media screen and (max-width: 1366px) {
			width: 800px;
			bottom: -50px;
			background-size: contain;
		}

		@media screen and (max-width: 1023px) {
			width: 670px;
			height: 450px;
			top: 155px;
    		right: 45px;
    		bottom: auto;
    		left: auto;
			background-size: contain;
		}

		@media screen and (max-width: 576px) {
			right: -225px;
		}
	}
}

.body__bg {
	position: absolute;
	width: 1289px;
	height: 681px;
	left: 0;
	bottom: -250px;
	z-index: 5;
}

.company__block__inner__content {
	display: flex;
	align-items: flex-start;

	@media screen and (max-width: 1023px) {
		flex-direction: column;
	}
}

.advantages__block {

	&__content {
		display: flex;
		align-items: flex-start;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	&__main {
		width: 50%;
		margin-right: 70px;

		@media screen and (max-width: 1600px) {
			width: auto;
		}

		@media screen and (max-width: 1024px) {
			width: 45%;
		}

		@media screen and (max-width: 1023px) {
			width: 100%;
			margin-bottom: 120px;
		}
	}

	&__side {
		width: 50%;
		position: relative;

		@media screen and (max-width: 1600px) {
			width: auto;
		}
	}

	&__title {
		font-size: 24px;
		line-height: 34px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-bottom: 46px;

		@media screen and (max-width: 1600px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 1366px) {
			margin-bottom: 15px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 576px) {
			font-size: 20px;
			line-height: 30px;
			padding-right: 40px;
		}

		&__under {
			font-size: 18px;
			line-height: 23px;
			max-width: 455px;
			margin-bottom: 80px;

			@media screen and (max-width: 1600px) {
				margin-bottom: 30px;
			}

			@media screen and (max-width: 1366px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 1024px) {
				margin-bottom: 12px;
			}

			@media screen and (max-width: 1023px) {
				margin-bottom: 35px;
				max-width: 90%;
			}

			@media screen and (max-width: 768px) {
				max-width: 100%;
			}
		}
	}

	&__list {
		width: 480px;
		list-style: none;
		padding: 0;
		margin: 0;
		counter-reset: list1;
		padding-left: 50px;

		@media screen and (max-width: 1024px) {
			padding-left: 0;
			padding-right: 25px;
		}

		@media screen and (max-width: 1023px) {
			width: 100%;
    		max-width: 650px;
		}

		&__item {
			padding-left: 50px;
			margin-bottom: 31px;
			position: relative;
			transform: translateX(0);
			transition: transform ease .45s;
			// will-change: transform;

			@media screen and (max-width: 1600px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 1366px) {
				margin-bottom: 10px;
			}

			@media screen and (max-width: 1024px) {
				padding-left: 40px;
			}

			@media screen and (max-width: 576px) {
				padding-left: 30px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&:hover {
				
				&:not(.active) {
					transform: translateX(20px);

					.advantages__block__list__item__title {						

						&::before {
							opacity: 1;
							visibility: visible;
							transform: translateX(0);
						}
					}
				}
			}

			&.active {
				transform: translateX(20px);

				@media screen and (max-width: 1024px) {
					margin-left: 5px;
				}

				@media screen and (max-width: 576px) {
					transform: translateX(10px);
				}

				&::before {
					top: 0;
					background-color: #FFED00;
				}

				.advantages__block__list__item__title {
					background-color: #FFED00;
				}

				.advantages__block__list__item__content {
					background-color: transparent;
				}
			}

			&::before {
				content: counter(list1)"";
				counter-increment: list1;
				width: 52px;
				height: 36px;
				font-size: 18px;
				line-height: 23px;
				position: absolute;
				top: 0;
				left: -2px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: background-color ease .45s;
				// will-change: background-color;


				@media screen and (max-width: 1024px) {
					height: 33px;
				}

				@media screen and (max-width: 576px) {
					width: 35px;
					height: 56px;
				}
			}
			

			&__title {
				font-size: 18px;
				line-height: 23px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				position: relative;
				cursor: pointer;
				padding-top: 6.5px;
				padding-bottom: 6.5px;
				padding-right: 26px;
				transition: background-color ease .45s;
				// will-change: background-color;

				@media screen and (max-width: 1024px) {
					font-size: 16px;
					padding-top: 5px;
					padding-bottom: 5px;
				}

				@media screen and (max-width: 576px) {
					display: flex;
					align-items: center;
					min-height: 56px;
				}

				&::before {
					content: "";
					position: absolute;
					top: 12px;
					left: -70px;
					width: 36px;
					height: 10px;
					background-image: url(../img/arrow-black.svg);
					background-size: 36px 10px;
					background-repeat: no-repeat;
					background-position: center;
					opacity: 0;
					visibility: hidden;
					transform: translateX(-20px);
					transition: transform ease .45s, opacity ease .45s, visibility ease .45s;
					// will-change: transform, opacity, visibility;
				}
			}

			&__content {
				display: none;
				font-size: 16px;
				line-height: 21px;
				padding-top: 27px;
				padding-right: 15px;

				@media screen and (max-width: 1366px) {
					padding-top: 15px;
				}

				@media screen and (max-width: 1024px) {
					padding-top: 10px;
				}
			}
		}
	}

	&__draft {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		line-height: 26px;
		width: 100%;
		max-width: 290px;
		min-height: 84px;
		background-image: url(../img/advantages__block__draft.png);
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 150px;

		@media screen and (max-width: 1600px) {
			margin-bottom: 80px;
		}

		@media screen and (max-width: 1366px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 1024px) {
			justify-content: flex-start;
			padding-left: 25px;
			margin-bottom: 45px;
		}

		@media screen and (max-width: 576px) {
			margin-bottom: 70px;
		}
	}

	&__product__block {

	}

	&__product {
		position: absolute;
		top: -40px;
		left: 215px;
		width: 255px;
		height: 283px;
		background-image: url(../img/advantages__block__product.png);
		background-repeat: no-repeat;
		background-position: center;

		@media screen and (max-width: 1600px) {
			top: -65px;	
		}

		@media screen and (max-width: 1366px) {
			top: -130px;
		}

		@media screen and (max-width: 1024px) {
			top: -120px;
    		left: 170px;
		}

		@media screen and (max-width: 576px) {
			left: 115px;
		}
	}

	&__info__block {
		border-left: 21px solid #FF70AC;
		box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);

		&__item {
			display: flex;
			align-items: center;
			padding: 46px 30px 23px 47px;

			&:nth-child(2n) {
				padding: 23px 30px 46px 47px;
			}

			@media screen and (max-width: 1024px) {
				padding: 25px 20px 20px 25px;

				&:nth-child(2n) {
					padding: 20px 20px 25px 25px;
				}
			}

			@media screen and (max-width: 576px) {
				padding: 15px 5px 15px 10px;	

				&:nth-child(2n) {
					padding: 15px 5px 15px 10px;
				}
			}

			&__image {
				width: 50px;
				height: 65px;
				margin-right: 33px;
				position: relative;
				flex-shrink: 0;

				@media screen and (max-width: 576px) {
					margin-right: 15px;
				}

				svg {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
				}
			}

			&__content {
				max-width: 100%;
				padding-right: 40px;

				@media screen and (max-width: 1600px) {
					max-width: 100%;
					padding-right: 0;
				}
			}
		}
	}
}

.stock__block {
	margin-bottom: 40px;

	@media screen and (max-width: 1023px) {
		&.screen__block {
			margin-bottom: 10px;
		}
	}

	@media screen and (max-width: 768px) {
		&.screen__block {
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: 576px) {

		&.screen__block {
			margin-bottom: 40px;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	&__side {
		margin-left: -25px;

		@media screen and (max-width: 1023px) {
			margin-left: 0;
			max-width: 100%;
		}
	}

	&__main {
		width: 65%;
	
		@media screen and (max-width: 1600px) {
			width: auto;
		}
	}

	&__title {
		margin-bottom: 26px;

		@media screen and (max-width: 1400px) {
			max-width: 335px;
			padding-right: 0;
		}

		@media screen and (max-width: 1366px) {
			margin-bottom: 10px;
		}

		@media screen and (max-width: 1023px) {
			max-width: 600px;
			margin-bottom: 20px;
		}

		@media screen and (max-width: 576px) {
			padding-right: 40px;
			font-size: 20px;
			line-height: 30px;
		}

		&__under {
			font-size: 18px;
			line-height: 23px;
			padding-bottom: 23px;
			margin-bottom: 32px;
			border-bottom: 2px solid #E5E5E5;

			@media screen and (max-width: 1366px) {
				padding-bottom: 10px;
				margin-bottom: 15px;
			}

			@media screen and (max-width: 1023px) {
				padding-bottom: 15px;
				margin-bottom: 25px;
			}
		}
	}

	&__title__under,
	&__info__block {
		max-width: 100%;

		@media screen and (max-width: 1400px) {
			max-width: 335px;
			padding-right: 0;
		}

		@media screen and (max-width: 1023px) {
			max-width: 600px;
		}
	}

	&__title__under {
		max-width: 75%;

		@media screen and (max-width: 1400px) {
			max-width: 335px;
			padding-right: 0;
		}

		@media screen and (max-width: 1023px) {
			max-width: 600px;
		}
	}

	&__info__block {
		margin-bottom: 40px;

		@media screen and (max-width: 1366px) {
			margin-bottom: 12px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 35px;
		}

		&__items__wrap {
			display: flex;
			margin-bottom: 24px;

			@media screen and (max-width: 1366px) {
				margin-bottom: 10px;
			}
		}

		&__item {
			margin-right: 45px;

			&:last-of-type {
				margin-right: 0;
			}

			&__image {
				width: 36px;
				height: 36px;
				margin: 0 auto;
				margin-bottom: 13px;
				position: relative;

				@media screen and (max-width: 1024px) {
					margin-bottom: 5px;
				}

				svg {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
				}
			}

			&__title {
				font-size: 16px;
				line-height: 21px;
			}
		}
	}

	&__products__info {
		padding: 23px 75px 22px 25px;
		margin-left: 20px;
		border-top: 12px solid #FFED00;
		box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);
		width: 750px;
		max-width: 100%;
		overflow: hidden;

		.popup__close {
			display: none;
		}

		@media screen and (max-width: 1600px) {
			width: 593px;
		}

		@media screen and (max-width: 1366px) {
			padding: 12px 25px 12px 34px;
		}

		@media screen and (max-width: 1024px) {
			border-top: 8px solid #FFED00;
			width: 560px;
			padding: 10px 20px 10px 15px;
			margin-left: 10px;
		}

		@media screen and (max-width: 1023px) {

			&:not(.popup) {
				display: none;
			}

			&.popup {			
				width: 100%;
				max-width: 600px;
				background-color: #fff;
				padding-right: 35px;
				margin: 0 auto;

				.popup__close {
					display: block;
					top: 10px;
					right: 10px;
				}
			}
		}

		&.slide-out {

			.stock__block__products__info__title,
			.stock__block__products__info__text,
			.stock__block__products__info__price {
				transform: translateX(-800px);
			}
		}

		&.slide-in {

			.stock__block__products__info__title,
			.stock__block__products__info__text,
			.stock__block__products__info__price {
				transform: translateX(0px);
			}
		}

		&__title {
			font-size: 16px;
			line-height: 21px;
			text-transform: uppercase;
			margin-bottom: 24px;
			transition: transform ease .45s;
			// will-change: transform;

			@media screen and (max-width: 1366px) {
				margin-bottom: 10px;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 21px;
			margin-bottom: 15px;
			transition: transform ease .45s;
			// will-change: transform;

			@media screen and (max-width: 1366px) {
				margin-bottom: 10px;
			}
		}

		&__price {
			font-size: 16px;
			line-height: 21px;
			transition: transform ease .45s;
			// will-change: transform;
		}
	}

	&__products__wrap {
		position: relative;

		@media screen and (max-width: 1600px) {
			transform: scale(.85);
		}

		@media screen and (max-width: 1366px) {
			transform: scale(.75);
		}

		@media screen and (max-width: 1023px) {
			transform: none;
		}

		.slick-arrow {
			top: 65px;
		}

		.slick-prev {
			left: 0;
		}

		.slick-next {
			right: 0;
		}
	}

	&__product {
		position: absolute;
		outline: none;

		@media screen and (min-width: 1024px) {
			&:hover,
			&.active {

				&.coming-soon {
					pointer-events: none;

					.stock__block__product__title,
					.stock__block__product__image,
					.stock__block__product__image__active {
						pointer-events: none;
					}
				}

				&:not(.coming-soon) {
					cursor: pointer;

					.stock__block__product__image {
						visibility: hidden;
						opacity: 0;
					}

					.stock__block__product__image__active {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		&:nth-child(1) {
			top: 70px;
			left: -180px;
			transform: rotate(-30deg) perspective(1px);
			// backface-visibility: hidden;

			.stock__block__product__title {
				top: 115px;
    			left: -40px;
				transform: rotate(90deg) perspective(1px);
				// backface-visibility: hidden;
			}
		}

		&:nth-child(2) {
			top: -100px;
    		left: -75px;
			transform: rotate(-120deg) perspective(1px);

			.stock__block__product__title {
				transform: rotate(90deg) perspective(1px);
    			top: 131px;
    			left: -81px;
			}
		}

		&:nth-child(3) {
			top: 34px;
    		left: 3px;
			transform: rotate(-120deg) perspective(1px);

			.stock__block__product__title {
    			top: 62px;
    			left: -17px;
				transform: rotate(90deg) perspective(1px);
			}
		}

		&:nth-child(4) {
			top: 114px;
			left: 45px;
			transform: rotate(60deg) perspective(1px);

			.stock__block__product__title {
			    top: 156px;
			    left: 77px;
				transform: rotate(-90deg) perspective(1px);
			}
		}

		&:nth-child(5) {
			top: 86px;
    		left: 216px;
    		transform: rotate(-30deg) perspective(1px);

    		.stock__block__product__title {
			    top: 67px;
			    left: 35px;
			    min-width: 120px;
    		}
		}

		&:nth-child(6) {
			top: 323px;
    		left: 93px;
    		transform: rotate(-30deg) perspective(1px);

    		.stock__block__product__title {
				top: 145px;
			    left: -95px;
			    transform: rotate(90deg) perspective(1px);
    		}
		}

		&:nth-child(7) {
			top: 240px;
    		left: 245px;
    		transform: rotate(-30deg) perspective(1px);

    		.stock__block__product__title {
				top: 118px;
			    left: -20px;
			    transform: rotate(90deg) perspective(1px);
    		}
		}

		&:nth-child(8) {
    		top: 187px;
    		left: 303px;
			transform: rotate(-30deg) perspective(1px);

			.stock__block__product__title {
				top: 145px;
    			left: 43px;
			}
		}

		@media screen and (max-width: 1023px) {
			position: relative;
			width: 100%;
			max-width: 718px;
			top: auto!important;
			right: auto!important;
			left: auto!important;
			bottom: auto!important;
			transform: none!important;

			&:nth-child(1) {

				.stock__block__product__title {
					padding-left: 37px;
				}
			}

			&:nth-child(2) {

				.stock__block__product__image {
					padding-right: 30px;
				}
			}

			&:nth-child(3) {
				.stock__block__product__title {
					padding-left: 35px;
				}
			}

			&:nth-child(4) {

				.stock__block__product__image {
					padding-left: 35px;
				}
			}

			&:nth-child(5) {

				.stock__block__product__image {
					padding-right: 35px;
				}
			}

			&:nth-child(6) {

				.stock__block__product__image {
					padding-right: 40px;
				}
			}

			&:nth-child(7) {

				.stock__block__product__title {
					padding-left: 35px;
				}
			}

			&:nth-child(8) {

				.stock__block__product__image {
					padding-right: 40px;
				}
			}

			.stock__block__product__title {
				font-size: 16px;
				position: relative;
				text-align: center;
				top: auto!important;
				right: auto!important;
				left: auto!important;
				bottom: auto!important;
				transform: none!important;
				margin-bottom: 25px;
			}

			.stock__block__product__image__active {
				position: absolute;
    			top: 42px;
    			left: 50%;
    			transform: translate(-50%);
			}
		}

		@media screen and (max-width: 576px) {

			&:nth-child(1) {

				.stock__block__product__image {
					padding-right: 37px;
				}
			}

			&:nth-child(2) {

				.stock__block__product__image {

				}
			}

			&:nth-child(3) {

				.stock__block__product__image {
					padding-right: 35px;
				}
			}

			&:nth-child(6) {

				.stock__block__product__image {
					padding-right: 37px;
				}
			}

			&:nth-child(7) {

				.stock__block__product__image {
					padding-right: 35px;
				}
			}

			.stock__block__product__title {
				padding: 0!important;
			}
		}

		&__title {
			font-size: 15px;
			line-height: 18px;
			position: absolute;
			z-index: 2;
		}

		&__text {
			display: none;
		}

		&__price {
			display: none;
		}

		&__image {
			transition: all ease .45s;

			@media screen and (max-width: 1023px) {
				display: block;
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}

			&__active {
				position: absolute;
				top: 0;
				left: 0px;
				visibility: hidden;
				opacity: 0;
				transition: all ease .45s;
			}
		}
	}
}

.equipment__block {


	&__title {
		margin-bottom: 25px;

		@media screen and (max-width: 1366px) {
			margin-bottom: 10px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 576px) {
			font-size: 20px;
			line-height: 30px;
			padding-right: 40px;
		}

		&__under {
			max-width: 75%;
			margin-bottom: 45px;

			@media screen and (max-width: 1600px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 1366px) {
				margin-bottom: 15px;
			}

			@media screen and (max-width: 1199px) {
				max-width: 100%;
			}

			@media screen and (max-width: 1023px) {
				margin-bottom: 35px;
			}

			p {
				font-size: 18px;
				line-height: 23px;
				margin: 0;
				margin-bottom: 18px;

				@media screen and (max-width: 1366px) {
					margin-bottom: 10px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	&__main {
		max-width: 55%;

		@media screen and (max-width: 1199px) {
			max-width: 545px;
		}

		@media screen and (max-width: 1023px) {
			max-width: 100%;
			margin-bottom: 35px
		}
	}

	&__side {
		max-width: 50%;
		padding-top: 15px;
		margin-left: -30px;

		@media screen and (max-width: 1366px) {
			padding-top: 0;
			margin-top: -20px;
		}

		@media screen and (max-width: 1199px) {
			max-width: 100%;
		}

		@media screen and (max-width: 1024px) {
			margin-top: 30px;
		}

		@media screen and (max-width: 1023px) {
			width: 100%;
			margin: 0;
		}
	}

	&__info__block {
		max-width: 474px;
		background-color: #fff;
		box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);
		padding: 32px 40px;
		margin-left: 40px;
		margin-bottom: 28px;

		@media screen and (max-width: 1366px) {
			padding: 20px 35px;
			margin-bottom: 10px;
		}

		@media screen and (max-width: 1024px) {
			padding: 20px 20px;
			margin-left: 25px;
			max-width: 425px;
		}

		@media screen and (max-width: 1023px) {
			max-width: 460px;
			margin: 0 auto;
			margin-bottom: 10px;
		}

		@media screen and (max-width: 576px) {
			margin-left: 0;
		}

		&__inner__block {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			position: relative;

			@media screen and (max-width: 576px) {
				flex-direction: column;
				align-items: flex-start;
			}

			&:first-of-type {

				&::before {
					// content: "";
					position: absolute;
					top: 5px;
					left: -58px;
					width: 35px;
					height: 10px;
					background-image: url(../img/arrow-black.svg);
					background-position: center;
					background-repeat: no-repeat;

					@media screen and (max-width: 1024px) {
						left: -44px;
					}
				}
			}

			&__title {
				font-size: 16px;
				line-height: 21px;
				margin-right: 10px;
			}

			&__value {
				display: flex;
				align-items: center;
				font-size: 16px;
				line-height: 21px;

				&__item {
					display: flex;
					font-size: 16px;
					line-height: 21px;
					position: relative;

					&::after {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 1px;
						height: 16px;
						margin-left: 8px;
						margin-right: 12px;
						background-color: #C4C4C4;
					}

					&:last-of-type {

						&::after {
							display: none;
						}
					}
				}
			}
		}

		&__capacity {

			&__title {
				font-size: 16px;
				line-height: 21px;
			}

			&__items__wrap {
				display: flex;
				align-items: flex-end;
				margin-top: -20px;

				@media screen and (max-width: 1366px) {
					margin-top: -40px;
				}

				@media screen and (max-width: 576px) {
					margin-top: 20px;
					flex-wrap: wrap;
					// align-items: flex-start;
				}
			}

			&__item {
				margin-right: 17px;
				position: relative;

				@media screen and (max-width: 576px) {
					margin-right: 25px;
					margin-bottom: 10px;
				}

				&__title {
					width: 150px;
					font-size: 14px;
					line-height: 18px;
					transform: rotate(-90deg);
					position: absolute;
					bottom: 72px;
					left: -65px;
				}

				&__image {
					margin-left: 23px;
				}
			}
		}
	}

	&__desc {
		display: flex;
		align-items: center;
		padding-left: 40px;

		@media screen and (max-width: 1024px) {
			padding-left: 25px;
		}

		@media screen and (max-width: 1023px) {
			justify-content: center;
			padding-left: 0;
		}

		@media screen and (max-width: 576px) {
			justify-content: flex-start;
			flex-direction: column;
			align-items: flex-start;
		}

		&__item {
			font-size: 14px;
			line-height: 18px;
			padding-left: 25px;
			position: relative;
			margin-right: 26px;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 6px;
				width: 9px;
				height: 9px;
				transform: translateY(-50%);
				border-radius: 50%;
				background-color: #FF70AC;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&__image {
		margin-bottom: 82px;

		@media screen and (max-width: 1600px) {
			margin-bottom: 25px;
		}

		@media screen and (max-width: 1366px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 1024px) {
			max-width: 450px;
		}

		@media screen and (max-width: 1023px) {
			display: block;
			margin: 0 auto;
			margin-bottom: 25px;
			width: 100%;
			max-width: 525px;
		}
	}
}

.btn.download__equipment__info__btn {
	display: block;
	font-size: 16px;
	padding-left: 74px;
	padding-right: 22px;
	max-width: 298px;
	background-image: url(../img/btn-download.svg);
	background-position: 22px 50%;
	background-repeat: no-repeat;
	background-size: 29px;
	transform: translateX(50%) translateX(-130px);

	@media screen and (max-width: 576px) {
		padding-left: 55px;
		transform: none;
	}
}

.partners__block {

	@media screen and (max-width: 1023px) {
		z-index: 2;
	}

	&__title {
		margin-bottom: 26px;

		@media screen and (max-width: 576px) {
			font-size: 20px;
			line-height: 30px;
			padding-right: 40px;
		}

		&__under {
			font-size: 18px;
			line-height: 23px;
			margin-bottom: 73px;

			@media screen and (max-width: 1366px) {
				margin-bottom: 40px;
			}	
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	.screen__bg {
		width: 701px;
		height: 672px;
		top: -50px;
		right: 0;

		@media screen and (max-width: 1366px) {
			top: -110px;
		}

		@media screen and (max-width: 1024px) {
			right: -85px;
		}

		@media screen and (max-width: 1023px) {
			top: 0;
			right: -250px;
		}

		@media screen and (max-width: 576px) {
			top: 155px;
    		right: -545px;
		}
	}
}


.reviews__nav__slider {
	padding-left: 50px;
	max-width: 30%;
	margin-right: 32px;

	@media screen and (max-width: 1600px) {
		max-width: 480px;
	}

	@media screen and (max-width: 1024px) {
		padding-left: 0;
	}

	@media screen and (max-width: 1023px) {
		max-width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}

	&__item {
		min-height: 36px;
		padding-left: 17px;
		margin-bottom: 30px;
		cursor: pointer;
		position: relative;

		@media screen and (max-width: 576px) {
			padding-left: 0;
			margin-bottom: 20px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&:hover {

			&:not(.active) {

				.reviews__nav__slider__item__title {
					transform: translateX(16px);

					&::before {
						opacity: 1;
						transform: translateX(-17px) translateY(-50%);
					}
				}
			}
		}

		&.active,
		&.slick-current.active {

			.reviews__nav__slider__item__title {
				background-color: #FFED00;
			}
		}

	&__title {
		display: flex;
		align-items: center;
		width: 100%;
		font-size: 16px;
		line-height: 21px;
		text-transform: uppercase;
		min-height: 36px;
		padding-left: 36px;
		transform: translateX(0);
		transition: background-color ease .45s, transform ease .45s;
		// will-change: background-color, transform;

		@media screen and (max-width: 576px) {
			padding-left: 20px;
		}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 5px;
				width: 35px;
				height: 10px;
				transform: translateX(-40px) translateY(-50%);
				background-image: url(../img/arrow-black.svg);
				background-size: 35px 10px;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0;
				transition: opacity ease .45s, transform ease .45s;
				// will-change: opacity, transform;
			}
		}
	}
}

.reviews__main__slider {
	max-width: 65%;
	padding: 33px 58px 55px 43px;
	background-color: #fff;
	box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);

	@media screen and (max-width: 1600px) {
		max-width: 474px;
	}

	@media screen and (max-width: 1024px) {
		padding: 33px 25px 25px 43px;
		max-width: 350px;
	}

	@media screen and (max-width: 1023px) {
		max-width: 100%;

		.slick-prev {
			left: 0px;
		}

		.slick-next {
			right: 0px;
		}
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}

	&__item {

		@media screen and (max-width: 1600px) {
			max-height: 290px;
			overflow: auto;
		}

		@media screen and (max-width: 1366px) {
			max-height: 245px;
		}

		@media screen and (max-width: 576px) {
			max-height: 100%;
		}

		&__image {
			max-width: 100%;
			height: auto;
			margin-bottom: 25px;
		}

		&__title {
			font-size: 16px;
			line-height: 21px;
			margin-bottom: 20px;
		}

		&__content {
			font-size: 16px;
			line-height: 21px;
			padding-right: 10px;
		}
	}
}

.services__block {

	@media screen and (max-width: 1023px) {
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 26px;

		@media screen and (max-width: 1366px) {
			margin-bottom: 10px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 576px) {
			font-size: 20px;
			line-height: 30px;
			padding-right: 40px;
		}

		&__under {
			font-size: 18px;
			line-height: 23px;
			margin-bottom: 34px;

			@media screen and (max-width: 1366px) {
				max-width: 50%;
				margin-bottom: 15px;
			}

			@media screen and (max-width: 1023px) {
				margin-bottom: 35px;
				max-width: 90%;
			}

			@media screen and (max-width: 576px) {
				max-width: 100%;
			}

			.custom__text {
				background-color: #ffed00;
    			padding: 3px 4px;
			}
		}
	}

	&__content {
		display: flex;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	&__main {
		width: 50%;
		flex-shrink: 0;
		margin-right: 43px;

		@media screen and (max-width: 1023px) {
			width: 100%;
			max-width: 600px;
			margin-bottom: 35px;
			margin-right: 0;
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__side {
		width: 50%;

		@media screen and (max-width: 1023px) {
			width: 100%;
		}
	}

	&__annotation {
		padding: 28px 17px 19px 30px;
		font-size: 16px;
		line-height: 21px;
		border: 2px solid #FFED00;
		margin-bottom: 40px;

		@media screen and (max-width: 1600px) {
			margin-bottom: 15px;
		}

		@media screen and (max-width: 1366px) {
			padding: 10px 17px 10px 30px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 25px;
		}
	}

	&__map__block {

		&__title {
			font-size: 16px;
			line-height: 22px;
			text-transform: uppercase;

			&__under {
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 27px;

				@media screen and (max-width: 1366px) {
					margin-bottom: 12px;
				}

				@media screen and (max-width: 1023px) {
					margin-bottom: 20px;
				}
			}
		}
	}

	&__map {
		height: 240px;

		@media screen and (max-width: 1366px) {
			height: 205px;
		}

		@media screen and (max-width: 1280px) {
			height: 180px;
		}

		@media screen and (max-width: 1024px) {
			height: 160px;
		}

		@media screen and (max-width: 1023px) {
			height: 200px;
		}
	}

	.screen__bg {
		width: 491px;
		height: 407px;
		top: -235px;
		right: 0;
		z-index: 2;

		@media screen and (max-width: 1366px) {
			top: -275px;
		}

		@media screen and (max-width: 1200px) {
			top: -245px;
		}

		@media screen and (max-width: 1024px) {
			top: -245px;
			right: -152px;
		}

		@media screen and (max-width: 576px) {
			z-index: 1;
		}
	}
}

.leave__request__form__wrap {
	min-height: 158px;
	height: 100%;
	overflow: hidden;
	position: relative;

	@media screen and (max-width: 1280px) {
		height: auto;
	}

	&.submited {

		.leave__request__form {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-700px);
		}

		.leave__request__form__reminder {
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.required__annotation {
		display: block;
		font-size: 14px;
		text-align: center;
		margin-bottom: 30px; 

		@media screen and (max-width: 1366px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 1280px) {
			margin-bottom: 12px;
		}

		@media screen and (max-width: 768px) {
			font-size: 13px;
			margin-bottom: 20px;
		}
	}
}

.leave__request__form {
	width: 100%;
	padding: 37px 37px 23px 45px;
	background-color: #fff;
	border-top: 14px solid #FFED00;
	border-bottom: 14px solid #FFED00;
	box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
	height: 100%;
	transition: transform ease .55s, opacity ease .55s, visibility ease .55s;
	// will-change: opacity, transform, visibility;

	@media screen and (max-width: 1366px) {
		padding: 15px 37px 15px 45px;
	}

	@media screen and (max-width: 480px) {
		padding: 37px 35px 23px 35px;
	}

	label {
		display: block;
		margin-bottom: 15px;

		@media screen and (max-width: 1366px) {
			margin-bottom: 12px;
		}

		@media screen and (max-width: 768px) {
			max-width: 360px;
			margin: 0 auto;
			margin-bottom: 12px;

			&:last-of-type {
				margin-bottom: 8px;
			}
		}

		&:last-of-type {
			margin-bottom: 5px;
		}
	}

	.btn.btn__submit {
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		color: #fff;
		padding: 0;
		max-width: 175px;
		min-height: 40px;
		background-color: #FF70AC;
		outline: none;
		border: none;
		margin-bottom: 20px;

		&:hover {

			&:not(:disabled) {
				color: #000;
				background-color: #FFED00;
			}
		}

		@media screen and (max-width: 1366px) {
			margin-bottom: 15px;
		}

		@media screen and (max-width: 1280px) {
			margin-bottom: 10px;
		}
	}

	&__reminder {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 389px;
		min-height: 158px;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) translateY(-700px);
		transition: transform ease .55s, opacity ease .55s, visibility ease .55s;
		// will-change: transform, opacity, visibility;

		@media screen and (max-width: 1023px) {
			transform: translateX(-50%) translateX(-1000px) translateY(-50%);
		}

		&__image {
			width: 168px;
			height: 158px;

			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&__title {
			font-size: 18px;
			line-height: 23px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			padding-left: 43px;

			@media screen and (max-width: 576px) {
				padding-left: 30px;
    			padding-right: 10px;
    			flex-shrink: 0;
			}
		}
	}

	.conf__policy {

		@media screen and (max-width: 768px) {
			display: block;
			text-align: center;
		}
	}
}




.conf__policy {
	font-size: 11px;
	line-height: 14px;
	color: #656565;
}


.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 4;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) translateY(-1000px);
	width: 100%;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: transform ease-in-out .6s, opacity ease-in-out .6s, visibility ease-in-out .6s;
	// will-change: transform;

	&.active {
		transform: translate(-50%, -50%);
		opacity: 1;
		visibility: visible;
	}
}

.popup__close {
	position: absolute;
	top: 37px;
	right: 37px;
	width: 19px;
	height: 19px;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 8px;
		left: -3px;
		width: 25px;
		height: 2px;
		background-color: #BBBBBB;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.present__video__popup {
	height: 100%;
}

.present__video__popup .popup__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;

	@media screen and (max-width: 768px) {
		padding: 0 15px;
	}
}

.present__video__popup .popup__inner__content {
	margin-bottom: 25px;
	position: relative;
}

.present__video__preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	transition: all ease 2s;

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}

	&:hover {

		&::before {
			opacity: 1;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 66px;
		height: 48px;
		background-image: url(../img/btn-video.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 66px;
		transform: translate(-50%, -50%);
		opacity: .8;
		transition: all ease .3s;
	}
}

.present__video__popup .popup__title {
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-right: auto;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	margin: 0px auto;
	max-width: 842px;
	width: 100%;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}